name: Release
on:
  push:
    branches:
      - "main"
  workflow_dispatch:
    inputs:
      message:
        description: commit message
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy build to target
        run: deploy --build ${{ inputs.build_id }} --target ${{ inputs.deploy_target }}
