run-name: ${{ github.event.inputs.name }}
on:
  workflow_dispatch:
    inputs:
      name:
        description: "Enter Workflow title"
        default: "message"
        required: true
jobs:
  message:
    runs-on: ubuntu-latest
    steps:
      - name: Show Title
        run: echo Title is  ${{ github.event.inputs.name }}"
