name: Release
on:
  push:
    branches:
      - "test/workflow"
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          nvm use || nvm install 16.18
          cache: "npm"
      - run: npm ci
      - run: npm test
      - uses: appleboy/ssh-action@master
        with:
          host: 46.101.148.197
          username: root
          key: ${{ secrets.REMOTE_SECRET }}
          script: |
            set -e
            echo 'Hello World'
            echo "Node version is $(node -v)"
            echo "Npm version is $(npm -v)"
