name: Release
on:
  push:
    branches:
      - "main"
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands
        uses: appleboy/ssh-action@master
        with:
          host: 46.101.148.197
          username: root
          key: ${{ secrets.REMOTE_SECRET }}
          script: |
            whoami
            ls -al
            pwd
            cd apps/partner-list-api
            eval `ssh-agent -s`
            ssh-add ~/.ssh/id_ed25519
            git pull origin master
            sudo systemctl restart nginx
            sudo service nginx reload
