name: Test File
run-name: ${{ github.event.inputs.name }}
on:
  workflow_dispatch:
    inputs:
      name:
        description: "Enter Workflow title"
        required: true
jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.3.0
        with:
          node-version: "16"
      - run: npm install -g bats
      - run: bats -v
      - run: node -v
      - run: npm -v
  title:
    runs-on: ubuntu-latest
    steps:
      - name: Show Title
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: 46.101.148.197
          username: root
          key: ${{ secrets.REMOTE_SECRET }}
          script: |
            whoami
            source ~/.nvm/nvm.sh
            node -v
            npm -v
            pwd
