
name: Release
on:
  push:
    branches:
      - "main"



jobs:

  build:
    name: Build
    env:
      REMOTE_SECRET: ${{ secrets.REMOTE_SECRET  }}

    runs-on: ubuntu-latest
    steps:
     - name: executing remote ssh commands 
       uses: appleboy/ssh-action@master
       with:
        host: 46.101.148.197
        username: root
        key: ${{ REMOTE_SECRET }}
        script: |
         whoami
         cd apps/partner-list-api 
  checkout:
    runs-on: self-hosted
    needs: build
    steps:
      - uses: actions/checkout@v3

  build-release:
    runs-on: self-hosted
    needs: checkout
    steps:
        - name: pull branch
          run: git pull origin master
        - name: restart nginx
          run: sudo service nginx reload
        - name: restart systemd
          run: sudo systemctl restart nginx





